@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Sahitya", serif;
  --font-english: "Sahitya", serif;
  --font-hindi: "Sahitya", serif;
}
